# Database
DATABASE_URL=postgresql://username:password@localhost:5432/protobuf_specs
DB_HOST=localhost
DB_PORT=5432
DB_NAME=protobuf_specs
DB_USER=protobuf
DB_PASSWORD=protobuf

# Server
PORT=3000
NODE_ENV=development

# JWT
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
JWT_EXPIRES_IN=7d

# CORS
FRONTEND_URL=http://localhost:4200

# GitHub OAuth
GITHUB_CLIENT_ID=Ov23lihHxvpt6nMLmTbV
GITHUB_CLIENT_SECRET=bd6860591aad91b95952323425f31d20eb2b597d
